/* CSS BY (add your name) */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: 'Inter', Helvetica, sans-serif;
    max-width: 450px;
    background-color: var(--purple);
}

/* header styles */
header {
    color: var(--white);
    text-align: center;
    padding: 30px;
}

h1 {
    font-family: 'Kavoon', Times, serif;
    font-size: 3em;
    padding-bottom: 15px;
}

header p {
    font-style: italic;
    padding-bottom: 15px;
}

/* nav styles */
nav {
    background-color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

nav h2 {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--dark-gray);
    font-style: italic;
    font-weight: bold;
    padding: 0;
}

nav li {
    color: var(--purple);
    font-weight: bold;
    background-color: var(--white);
    margin: 10px;
    padding: 15px;
}

nav a {
    text-decoration: none;
}

/* main styles */
/*main {
    padding: 15px;
}
*/

section {
    padding: 15px;
}

h2 {
    font-family: 'Kavoon', Times, serif;
    font-size: 2em;
    color: var(--white);
    padding-bottom: 10px;
    /* padding: 15px; */
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
    padding-bottom: 10px;
    /* padding-left: 15px; */
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
    padding-bottom: 10px;
}

p {
    line-height: 1.5em;
}

#services div {
    background-color: var(--white);
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 15px;
}

#why-choose-us {
    background-color: var(--pink);
}

#why-choose-us ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    /*
    padding: 0 15px 15px;
    */
    padding: 5px;
}

#why-choose-us li {
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

#why-choose-us li:nth-of-type(1) {
    background-color: var(--teal);
}

#why-choose-us li:nth-of-type(2) {
    background-color: var(--lavender);
}

#why-choose-us li:nth-of-type(3) {
    background-color: var(--yellow);
}

#why-choose-us li:nth-of-type(4) {
    background-color: var(--white);
}

table {
    margin: 0 auto 10px;
    background-color: var(--yellow);
}

th {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: var(--white);
    padding: 15px;
    border: 2px solid var(--yellow);
}

#take-the-first-step {
    background-color: var(--pink);
    color: var(--white);
}

/*
#take-the-first-step p {
    padding: 0 15px;
}
*/

#take-the-first-step a {
    display: block;
    text-align: center;
    background-color: var(--white);
    padding: 20px;
   /* margin: 0 20px; */
    margin: 20px auto;
    box-shadow: 5px 5px 3px var(--dark-gray);
    border-radius: 15px;
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    color: var(--white);
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 15px; */
}

footer a {
    color: var(--white);
}